<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OPG - SHAP WEB</title>
    <link rel="stylesheet" href="../static/css/styleshap.css">
    <script src="../static/js/updateDefaults.js"></script>
    <style>
        .negative-text {
            color: blue;
        }
        .positive-text {
            color: red;
        }
    </style>
</head>
<body>
    <div class="colored-box"></div>
    <nav>
        <div class="logo">
            <a href="#">OPG-SHAP</a>
        </div>
        <ul class="menu">
            <li><a href="{{ url_for('index') }}">IMPORT MODELS</a></li>
            <li><a href="{{ url_for('go2') }}" style="color: blue;">SHAP</a></li>
            <li><a href="{{ url_for('shappercentile_page') }}">SHAP-PERCENTILE</a></li>
            <li><a href="{{ url_for('evaluationpage') }}">EVALUATION</a></li>
        </ul>
    </nav>
    <div class="horizontal-line"></div>
    <div class="back-button">
     
    <div class="content">
        <h2>SHAP</h2>
        <form action="/default_shappercentile" method="POST">
            <label for="shappercentile">Predict:</label>
            <input type="text" name="predict_input" id="predict_input" value="{{ predict_input }}">
            <br><br>
            <label for="node0input" class="negative-text">Negative:</label>
            <input type="text" name="node0_input" id="node0_input" value="{{ node0_input }}">
            <label for="node1input" class="positive-text">Positive:</label>
            <input type="text" name="node1_input" id="node1_input" value="{{ node1_input }}">
            <br><br>
            <br><br>
            <div class="shapoutput">
                <img src="{{ shap_image_url }}" alt="SHAP Image Plot" style="width: 1200px; height: 550px;">
            </div>
            </div>
            <p><input class="Next-btn" type="submit" value="Next"></p>
        </form>
         <!--form action="/default_shappercentile" method="POST"--> 

    </div>
</body>
</html>
